.feed{
  background-image: var(--gradient-go);

  &--inner{
    background: none;

    .feed__container{
      background-image: var(--gradient-go);
      border-bottom: 1px solid var(--divider-grid);
      border-left: 1px solid var(--divider-grid);
      border-right: 1px solid var(--divider-grid);
    }
  }

  &__container{
    border-color: transparent;
    padding-top: 65px;
    padding-bottom: 95px;
  }

  &__top{
    display:grid;
    grid-template-columns: repeat(2,1fr);
    gap: 20px;
    margin-bottom: 30px;
    align-items: center;
  }

  &__title{
    @include typo-title-1;
  }

  &__title-small{
   @include typo-title-3;
  }

  &__title-icon{
    grid-column: span 2;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    @include typo-title-3;
  }

  &__text{
    @include typo-paragraph-3;
  }

  &__fields{
    display: flex;
    gap: 20px;
    margin-bottom: 40px;
  }

  &__field{
    flex-grow: 1;

    &--addr{
      flex-grow: 10;
    }

    &--select{
      width: 470px;
      flex-grow: initial;
    }
  }

  &__submit{
    width: 230px;
    height: 60px;
  }
}