.gradient {

  .container {
    @media (max-width: 1439.98px) {
      width: 100%;
      max-width: 100%;
      padding: 0;
    }
  }

  &__container {
    background: linear-gradient(45deg, #40398c 24.82%, #9e434f 41.8%, #d39117 53.38%, #9d4350 63.87%, #463a88 77.79%);
    background-size: 200% 100%;
    animation: gradient-animation 30s ease infinite;
    border: 1px solid transparent;
    display: grid;
    gap: 1px;
    padding: 0;
    @media (max-width: 1439.98px) {
      border-left: none;
      border-right: none;
    }
  }

  &__top {
    background: var(--bg);
    position: relative;
    padding: 60px;
    @include point-bottom-left;
    @include point-bottom-right;
    @media (max-width: 1439.98px) {
      padding: 40px;

    }
    @media (max-width: 767.98px) {
      padding: 30px 10px;
    }
  }

  &__title {
    color: var(--yellow);
    @include typo-title-2;
    text-align: center;
    @media (max-width: 767.98px) {
      font-size: 28px;
      text-align: left;
    }
  }

  &__txt {
    @include typo-text;
    margin-top: 15px;
    text-align: center;
    @media (max-width: 767.98px){
      font-size: 16px;
      text-align: left;
    }
  }

  &__bottom {
    position: relative;
    @include point-bottom-left;
    @include point-bottom-right;

  }

  &__sub {
    text-align: center;
    padding: 70px;
    @include typo-paragraph-2;
    background: var(--bg);
    position: relative;
    @include point-bottom-left;
    @include point-bottom-right;
    @media (max-width: 1919.98px) {
      padding: 50px;
    }
    @media (max-width: 1439.98px) {
      display: none;
    }
  }
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%
  }
  50% {
    background-position: 100% 50%
  }
  100% {
    background-position: 0% 50%
  }
}