.internet-about {

  &__container {
    padding-top: 110px;
    padding-bottom: 110px;
    @include point-bottom-left;
  }

  &__grid {
    display: grid;
    grid-template-columns: 595fr 680fr;
    gap: 75px;

    &--center{
      align-items: center;
    }
  }

  &__img {
    border: 1px dashed var(--divider-grid);
    position: relative;
    --offset: 20px;

    &:before {
      content: '';
      display: block;
      padding-top: calc(399 / 595 * 100%);
    }

    img {
      position: absolute;
      top: var(--offset);
      left: var(--offset);
      object-fit: cover;
      width: calc(100% - var(--offset) * 2);
      height: calc(100% - var(--offset) * 2);
    }
  }

  &__content {
    h3 {
      @extend .title;
      margin-bottom: 40px;
    }

    ul {
      display: grid;
      gap: 25px;

      li {
        @include typo-text;
        padding-left: 45px;
        position: relative;

        &:before {
          content: '';
          display: block;
          width: 8px;
          height: 8px;
          background-color: var(--squares);
          position: absolute;
          left: 0;
          top: 7px;
        }
      }
    }

    i{
      @include typo-paragraph-italic;
      color: var(--txt-dark);
    }

    p{
      @include typo-text;
    }
  }
}