.advantages {

  &__container {
    padding-top: 60px;
    padding-bottom: 140px;
    padding-right: 0;
    border-right-color: transparent;
    @media (max-width: 1919.98px){
      padding-right: 75px;
      padding-bottom: 130px;
    }
    @media (max-width: 1439.98px){
      padding-right: 0;
    }
    @media (max-width: 767.98px){
      padding-bottom: 90px;
    }
  }

  &__title{
    margin-bottom: 50px;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    @media (max-width: 1439.98px){
       grid-template-columns: repeat(2,1fr);
    }
    @media (max-width: 767.98px){
       grid-template-columns: 100%;
    }
  }

  &__item {

  }
}

.advantage {
  text-align: center;

  &:hover,&.hover{
    .advantage__flip{
      transform: perspective(1000px) rotateY(180deg);
      z-index: 100;
    }
  }

  &__flip{
    position: relative;
    transition: all 0.6s ease;
    transform-style: preserve-3d;

    &:before {
      content: '';
      display: block;
      padding-top: calc(470 / 460 * 100%);
    }
  }

  &__front, &__back {
    border: 1px solid rgba(121, 88, 191, 0.25);
    background-color: #0b0a26;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    backface-visibility: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__front {
    padding-top: 60px;
    transform:  rotateY(0deg);
    @media (max-width: 1919.98px){
      padding-top: 50px;
    }
  }

  &__back {
    transform: perspective(1000px) rotateY(180deg);
    padding: 50px 50px 20px;
    @media (max-width: 1919.98px){
      padding: 35px 25px 20px 25px;
    }
  }

  &__img-big{
    width: 229px;
    height: 229px;
    margin-bottom: 45px;
    @media (max-width: 1919.98px){
      width: 180px;
      height: 180px;
      margin-bottom: 35px;
    }
    @media (max-width: 767.98px){
      width: 176px;
      height: 176px;
    }

    img{
      max-height: 100%;
    }
  }

  &__img{
    width: 120px;
    height: 120px;
    margin-bottom: 30px;
    @media (max-width: 1919.98px){
      width: 93px;
      height: 93px;
      margin-bottom: 20px;
    }

    img{
      max-height: 100%;
    }
  }

  &__title {
    font-size: 32px;
    font-weight: 600;
    @media (max-width: 1919.98px){
      font-size: 26px;
    }
    @media (max-width: 767.98px){
      font-size: 24px;
    }
  }

  &__content {
    margin-top: 20px;
    @media (max-width: 1919.98px){
      margin-top: 15px;
    }

    p {
      font-size: 16px;
      @media (max-width: 1919.98px){
        font-size: 14px;
      }
    }
  }
}