.index-servs{

  &__container{
    display:grid;
    grid-template-columns: 470px 1fr;
    padding: 0;
    border-color: transparent;
  }

  &__left{

  }

  &__right{
    border-left: 1px solid var(--divider-grid);
    border-right: 1px solid var(--divider-grid);
  }

  &__btns{
    display:grid;
    justify-content: flex-end;
    min-height: 100%;
  }

  &__btn{
    width: 780px;
    padding: 30px 18px 30px 380px;
    text-align: left;
    border-bottom: 1px solid var(--divider-grid);
    font-size: 24px;
    border-right: 12px solid transparent;

    &:last-child{
      border-bottom: none;
    }

    &.active{
      background: var(--gradient-go);
      color: var(--yellow);
      border-right-color: var(--accident);
    }
  }

  &__tabs{
    height: 100%;
  }

  &__tab{
    min-height: 100%;
    height: 100%;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 70px;


    &.active{
      display: flex;
    }
  }

  &__img{
    margin-bottom: 50px;
    position: relative;
    width: 480px;

    &:before{
      content: '';
      display: block;
      padding-top: 100%;
    }

    &:after{
      content: '';
      display: block;
      width: 595px;
      height: 595px;
      border-radius: 50%;
      background: var(--accident-2);
      opacity: .4;
      filter: blur(700px);
      position: absolute;
      z-index: 2;
      top: -60px;
      left: -75px;
    }
  }

  &__img-wrap{
    position: absolute;
    z-index: 2;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    img{
      max-width: 100%;
      max-height: 100%;
    }
  }

  &__title{
    @include typo-title-2;
    text-align: center;
    margin-bottom: 35px;
  }

  &__btn-1{
    margin-bottom: 30px;
  }
}