.lics-servs{

  &__container{
    padding-top: 155px;
    padding-bottom: 135px;
    padding-right: 20px;

    background-image: url(/images/content/internet/services/bg.png);
    background-position: 0 255px;
    background-repeat: no-repeat;

    display:grid;
    grid-template-columns: 1fr 825px;
    gap: 20px;

  }

  &__title{
    margin-bottom: 200px;
  }

  &__icon{
    @extend .internet-services__icon;
    margin-left: 160px;

    &:before,&:after{
      display: none;
    }
  }

  &__item{
    border-bottom: 1px dashed var(--divider-grid);
    padding: 30px 0;
    @include typo-paragraph-3;
    color: var(--txt-dark);


    &:first-child{
      border-top: 1px dashed var(--divider-grid);
    }
  }

}