.colocation-content {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1px;

  &__item {
    padding: 115px 30px;
    background: var(--bg);

  }

  p {
    min-height: 81px;
    @include typo-text;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
  }
}