.phones-about {
  padding-top: 70px;
  padding-bottom: 70px;
  @media (max-width: 767.98px){
    padding: 40px 0;
  }

  &__desc {
    margin-bottom: 70px;
    @media (max-width: 1919.98px) {
      margin-bottom: 85px;
    }
    @media (max-width: 1439.98px){
      margin-bottom: 0;
    }
  }

  &__list {
    margin-bottom: 145px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    align-items: center;
    @media (max-width: 1919.98px) {
      margin-bottom: 110px;
    }
    @media (max-width: 1439.98px){
      display: none;
    }
  }

  &__li {
    padding-left: 35px;
    position: relative;
    @include typo-paragraph-3;

    &:before {
      content: '';
      display: block;
      @include point;
      position: absolute;
      top: 10px;
      left: 0;
    }
  }

  &__grid {
    display: grid;
    grid-template-columns: 5fr 7fr;
    gap: 65px 200px;
    padding-right: 60px;
    @media (max-width: 1919.98px) {
      padding-right: 0;
      gap: 50px 20px;
    }
    @media (max-width: 1439.98px){
      display: none;
    }
  }

  &__title {
    margin-bottom: 30px;
  }

  &__txt {
    @include typo-text;
    color: var(--txt-dark);
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 20px;

    p {
      @include typo-paragraph-3;

    }
  }
}