.recs {
  padding-top: 40px;
  padding-bottom: 100px;
  @media (max-width: 1439.98px) {
    padding-top: 75px;
    padding-bottom: 75px;
  }
  @media (max-width: 767.98px) {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  &__top {
    margin-bottom: 20px;
    @media (max-width: 1439.98px) {
      margin-bottom: 35px;
    }
  }

  &__container {
    border-color: transparent;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__nav {
    display: flex;
    @media (max-width: 767.98px) {
      margin-right: -10px;
    }
  }

  &__arr {
    color: var(--divider-grid);
    padding: 10px;
    @include tr;

    &:hover {
      color: var(--yellow);
    }

    svg {
      display: block;

      circle {
        stroke: currentColor;
      }

      path {
        fill: currentColor;
      }
    }
  }

  &__swiper{
    @media (max-width: 767.98px){
      padding-left: 10px;
      padding-right: 10px;
    }
  }

  &__slide {
    width: 797px;
    @media (max-width: 1439.98px) {
      width: 354px;
    }
    @media (max-width: 767.98px) {
      width: 285px;
    }
  }
}

.rec {
  box-sizing: border-box;
  background: var(--gradient-go);
  padding: 65px;
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 40px;
  @media (max-width: 1439.98px) {
    grid-template-columns: 100%;
    padding: 30px 20px 40px 20px;
    gap: 10px;
  }
  @media (max-width: 767.98px) {
    padding: 25px 20px;
  }

  &__left {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
  }

  &__face {
    --offset: 10px;

    width: 162px;
    height: 162px;
    border-radius: 50%;
    border: 1px solid var(--divider-grid);
    position: relative;
    @media (max-width: 767.98px) {
      width: 102px;
      height: 102px;
      --offset: 6px;
    }

    &:before {
      content: '';
      display: block;
      position: absolute;
      top: var(--offset);
      bottom: var(--offset);
      left: var(--offset);
      right: var(--offset);
      border-radius: 50%;
      border: 1px solid var(--divider-grid);
    }

    img {
      display: block;
      position: absolute;
      top: calc(var(--offset) * 2);
      left: calc(var(--offset) * 2);
      border-radius: 50%;
      width: calc(100% - var(--offset) * 4);
      height: calc(100% - var(--offset) * 4);
      object-fit: cover;
    }
  }

  &__brand {
    @media (max-width: 1439.98px) {
      display: none;
    }

    &--tablet {
      display: none;
      margin-bottom: 20px;
      @media (max-width: 1439.98px) {
        display: block;
      }
      @media (max-width: 767.98px) {
        margin-bottom: 10px;
      }
    }
  }

  &__right {
    @media (max-width: 1439.98px) {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

  &__name {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 15px;
    @media (max-width: 1439.98px) {
      text-align: center;
      margin-bottom: 10px;
    }
    @media (max-width: 767.98px) {
      font-size: 12px;
      margin-bottom: 3px;
    }
  }

  &__prof {
    font-size: 18px;
    margin-bottom: 20px;
    @media (max-width: 1439.98px) {
      font-size: 14px;
      text-align: center;
    }
    @media (max-width: 767.98px) {
      font-size: 12px;
      margin-bottom: 10px;
    }

  }

  &__desc {
    @include typo-text;
    color: var(--txt-dark);
    margin-bottom: 35px;
    @media (max-width: 1439.98px) {
      margin-bottom: 20px;
    }
    @media (max-width: 767.98px) {
      text-align: center;
      margin-bottom: 10px;
    }
  }

  &__link {
    font-size: 18px;
    @media (max-width: 767.98px) {
      font-size: 14px;
    }
  }
}

.rec-item {
  width: 700px;
  padding: 55px 70px;
  background: linear-gradient(291.3deg, #050C1C 28.05%, rgba(6, 12, 32, 0) 75.12%), #151843;
  border: 1px solid var(--divider-grid);

  @media (max-width: 767.98px) {
    padding: 30px 20px 90px;
  }

  &__top {
    margin-bottom: 40px;
    display: flex;
    gap: 35px;
    align-items: center;
    @media (max-width: 767.98px) {
      flex-direction: column;
      gap: 10px;
      margin-bottom: 20px;
    }
  }

  &__left {
    flex-shrink: 0;
  }

  &__right{
    @media (max-width: 767.98px){
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

  &__face {
    @extend .rec__face;
    width: 186px;
    height: 186px;
    @media (max-width: 767.98px){
      width: 162px;
      height: 162px;
      --offset: 10px;
    }
  }

  &__name {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 10px;
    @media (max-width: 767.98px){
      text-align: center;
      font-size: 20px;
    }
  }

  &__prof {
    font-size: 14px;
    margin-bottom: 20px;
    @media (max-width: 767.98px){
      text-align: center;
    }
  }

  &__content {
    @include typo-text;
    color: var(--txt-dark);
    margin-bottom: 30px;
    @media (max-width: 767.98px){
      font-size: 16px;
    }
  }

  &__back {
    display: inline-flex;
    align-items: center;
    gap: 10px;
    font-size: 18px;
  }

  .fancybox-close-small {
    width: 60px;
    height: 60px;
  }
}