.partners {

  &__container {
    padding-top: 100px;
    padding-bottom: 100px;
    overflow: hidden;
    position: relative;
    @media (max-width: 1439.98px) {
      padding-top: 65px;
      padding-bottom: 85px;
      overflow: visible;
    }
    @media (max-width: 767.98px) {
      padding-top: 35px;
      padding-bottom: 45px;
    }
    @media (max-width: 767.98px) {
      display: flex;
      flex-direction: column;
      gap: 35px;
    }
  }

  &__title {
    margin-bottom: 70px;
    @media (max-width: 1439.98px) {
      margin-bottom: 30px;
    }
    @media (max-width: 767.98px) {
      margin: 0;
      order: 1;
    }
  }

  &__desc {
    height: 230px;
    position: relative;
    @media (max-width: 767.98px) {
      height: auto;
      order: 4;
    }
  }

  &__content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    text-align: center;

    @media (max-width: 767.98px) {
      position: static;
      align-items: flex-start;
      text-align: left;
    }

    p {
      max-width: 510px;
      color: var(--txt-dark);
    }

    img {
      @media (max-width: 767.98px) {
        display: none;
      }
    }
  }

  &__slider {
    position: relative;
    margin-bottom: 150px;
    @media (max-width: 767.98px) {
      margin: 0;
      position: static;
      order: 3;
    }
  }

  &__swiper {
    margin: 0 -65px;
    @media (max-width: 1919.98px) {
      margin: 0 -75px;
    }
    @media (max-width: 1439.98px) {
      margin: 0 -20px;
    }
    @media (max-width: 767.98px) {
      display: none;
    }
  }

  &__swiper-mobile {
    display: none;
    margin: 0 -10px;
    padding: 0 10px;
    @media (max-width: 767.98px) {
      display: block;
    }
  }

  &__slide {
    width: 590px;
    opacity: .3;
    pointer-events: none;
    @media (max-width: 1919.98px) {
      width: 490px;
    }

    &.swiper-slide-active {
      pointer-events: all;
      opacity: 1;
    }
  }

  &__slide-mobile {
    background: var(--back-frame);
    width: 173px;
    opacity: .4;

    &.swiper-slide-active {
      opacity: 1;
      background: var(--gradient-violet);
    }
  }

  &__grid {
    --offset: 7.5px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: calc(0px - var(--offset));
    width: calc(100% + 15px);
  }

  &__nav {
    position: absolute;
    z-index: 10;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    pointer-events: none;
    @media (max-width: 767.98px) {
      top: 35px;
      left: initial;
      right: 0;
      bottom: initial;
      gap: 15px;
    }
  }

  &__arr {

    .desctop {
      @media (max-width: 767.98px) {
        display: none;
      }
    }

    .mobile {
      display: none;
      color: var(--divider-grid);
      @include tr;

      &:hover {
        color: var(--yellow);
      }

      svg {
        path {
          fill: currentColor;
        }

        circle {
          stroke: currentColor;
        }
      }

      @media (max-width: 767.98px) {
        display: block;
      }
    }
  }

  &__pag {
    position: absolute;
    top: calc(100% + 82px);
    left: 0;
    right: 0;

    display: flex;
    justify-content: center;
    overflow: visible;
    @media (max-width: 767.98px) {
      display: none;
    }

    .swiper-pagination-bullet {
      width: 80px;
      height: 7px;
      background: var(--back-frame);
      transform: none;
      border-radius: 0;
      opacity: 1;
    }

    .swiper-pagination-bullet-active {
      background: var(--orange-red);
    }

  }

  &__txt {
    @include typo-paragraph-3;
    color: var(--txt-dark);
    text-align: center;
    @media (max-width: 1439.98px) {
      font-size: 20px;
    }
    @media (max-width: 767.98px) {
      order: 2;
      text-align: left;
      font-size: 14px;
      br {
        display: none;
      }
    }
  }

}

.partner {
  background: var(--back-frame);
  position: relative;
  padding: var(--offset);
  background-clip: content-box;
  @media (max-width: 767.98px) {
    background: none;
  }

  &:hover {
    &:before {
      opacity: 1;
    }
  }

  &:before {
    content: '';
    display: block;
    position: absolute;
    z-index: 0;
    top: var(--offset);
    bottom: var(--offset);
    left: var(--offset);
    right: var(--offset);
    background: var(--gradient-violet);
    opacity: 0;
    @include tr;
  }

  img {
    position: relative;
    z-index: 1;
  }
}