.title{
  color: var(--yellow);
  @include typo-title-6;
}

.link{
  color: var(--yellow);
  text-decoration: underline;
  @include tr;
  &:hover{
    color: var(--orange-red);
  }
}

.arr{
  pointer-events: all;
  @include tr;

  &:hover {
    color: var(--orange-red);
  }

  &.swiper-button-disabled{
    color: var(--txt-dark);
  }
}