.socials {
  display: flex;
  align-items: center;
  gap: 15px;
  @media (max-width: 1439.98px){
     gap: 10px;
  }

  &__item{

    &:hover{
      color: var(--yellow);
    }
    svg{
      path {
        fill: currentColor;
        @include tr;
      }
    }
  }
}