.contacts-props {
  padding-right: 150px;
  @media (max-width: 1919.98px) {
    padding-right: 0;
  }

  &__top {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    align-items: center;
    margin-bottom: 40px;
    @media (max-width: 767.98px) {
      grid-template-columns: initial;
      display: flex;
      justify-content: space-between;
    }
  }

  &__btn {
    display: flex;
    align-items: center;
    gap: 10px;
    color: var(--orange-red);
    text-decoration: underline;
    font-size: 14px;
    font-weight: 500;
    @include tr;

    &:hover {
      color: var(--main-orange);
    }

    svg {
      path {
        stroke: currentColor;
      }
    }
  }
}

.contacts-prop {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  border-bottom: 1px dashed var(--divider-grid);
  padding: 17px 0;
  @include typo-text;
  @media (max-width: 1439.98px) {
    grid-template-columns: 100%;
    gap: 10px;
  }
  @media (max-width: 767.98px){
    font-size: 16px;
  }

  &__left {
    color: var(--txt-dark);
    @media (max-width: 767.98px){
      font-size: 16px;
    }
  }
}