.banner {
  background-size: cover;
  background-position: center top;
  border-bottom: 1px solid var(--divider-grid);
  border-image: var(--gradient-grid) 1;

  &__container {
    padding-top: 20px;
    min-height: 940px;
    display: flex;
    align-items: center;
    @include point-bottom-left;
  }

  &__bread{
    margin-bottom: 35px;
  }

  &__title{
    @include typo-heading-1;
    margin-bottom: 35px;
  }

  &__title-big{
    @include typo-heading-slider;
    @include gradient-txt(var(--gradient-heading));
    margin-bottom: 35px;
  }

  &__img{
    display: none;
  }

  &__content{
    display: flex;
    flex-direction: column;
    gap: 18px;
    margin-bottom: 52px;
    max-width: 570px;

    p{
      @include typo-paragraph-3;
    }
  }

  &__btns{
    display: flex;
    align-items: center;
    gap: 25px;
  }
}