.slider {
  --tr: 0ms;
  --margin-right: -120px;

  &__container {
    border-right-color: transparent;
  }

  &__wrap {
    position: relative;
  }

  &__big {
    margin-bottom: 100px;
    @media (max-width: 1919.98px) {
      margin-bottom: 60px;
    }
    @media (max-width: 767.98px) {
      margin-bottom: 30px;
    }
  }

  &__animate {
    position: relative;
  }

  &__map {
    position: absolute;
    z-index: 1;
    top: 70px;
    left: 50%;
    transform: translateX(-50%);
    transition-timing-function: ease-out;

    img {
      max-width: initial;
    }
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 100px 20px;
    position: relative;
    @media (max-width: 1439.98px) {
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 60px 20px;
    }
    @media (max-width: 767.98px) {
      grid-template-columns: 100%;
      grid-gap: 50px;
    }

  }

  &__item {
    --title-fz: 80px;
    position: relative;
    z-index: 2;
    @media (max-width: 767.98px){
      --title-fz: 70px;
    }

    &:first-child {
      --title-fz: 124px;
      @media (max-width: 767.98px){
        --title-fz: 70px;
      }
    }
  }

}

.slide-big {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-gap: 90px;
  align-items: flex-end;
  @media (max-width: 1439.98px) {
    grid-gap: 20px;
  }
  @media (max-width: 767.98px) {
    grid-template-columns: 100%;
  }

  &__sub {
    font-size: 50px;
    font-weight: 500;
    line-height: 1;
    @media (max-width: 1439.98px) {
      font-size: 36px;
    }
    @media (max-width: 767.98px) {
      font-size: 40px;
    }
  }

  &__title {
    font-size: 297px;
    font-weight: 500;
    font-style: italic;
    line-height: 1;
    @include gradient-txt(var(--gradient-btn));
    @media (max-width: 1919.98px) {
      font-size: 260px;
    }
    @media (max-width: 1439.98px) {
      font-size: 193px;
    }
  }

  &__right {
    padding-bottom: 10px;
  }

  &__txt {
    font-weight: 300;
    font-size: 30px;
    line-height: 142%;
    color: var(--white);
    margin-bottom: 50px;
    @media (max-width: 1439.98px) {
      font-size: 24px;
      margin-bottom: 35px;
    }
  }

  &__btn {
    @media (max-width: 767.98px) {
      font-size: 16px;
      padding: 13px 45px;
    }
  }

  &__info {
    display: none;
    margin-top: 45px;
    @media (max-width: 1439.98px) {
      display: block;
    }
    @media (max-width: 767.98px) {
      margin-top: 85px;
    }
  }
}

.slide {
  position: relative;

  &__img {
    position: absolute;
    top: 0;
    right: 0;
  }

  &__content {
    position: relative;
    z-index: 2;
  }

  &__title {
    font-size: var(--title-fz);
    font-weight: 600;
    font-style: italic;
    margin-bottom: 12px;
    line-height: 112%;
    @include gradient-txt(var(--gradient-btn));
    @media (max-width: 767.98px){
      font-weight: 500;
      margin-bottom: 20px;
    }
  }

  &__sub {
    font-size: 24px;
    font-weight: 500;
    font-style: italic;
    margin-bottom: 20px;
    line-height: 114%;
  }

  &__txt {
    font-size: 15px;
    line-height: 160%;
    @media (max-width: 767.98px){
      font-size: 14px;
    }
  }
}